* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	color: white;
	padding: 20px 20px;
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}
header>div {
	display: flex;
	justify-content: space-between;
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 12px;
	padding: 20px 20px;
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}
h1
{font-size: 12px;}
a[href="#"]{
	text-decoration: none;
	color: white;
}

ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	background-color: black;
	color: white;
	padding: 10px 10px;
	font-size: 10px;
}
li {
	text-align: center;
	flex-basis: 70px;
}

.size {
	font-size: 18px;
}


/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	color: white;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	text-align: center;
	margin: 0 auto;
	font-size: 10px;
	min-height: 300px;
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}
.sizeup {
	font-size: 20px;

}
#logo {
	width: 40px;
    border-radius: 120px;
    border: 1px solid white;
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */

.reel-header {
	min-height: 50px;
}

/* --------------------- */
